body{
  background-image: url(stars.png);
  overflow:hidden;
}
marquee {
  position: absolute;
  transform: perspective(200px) rotateX(25deg);
  top:0;
  bottom:100px;
  left:50px;
  right:50px;
  margin: auto;
}
p, h1 {
  padding-left: 20%;
  font-size: 37px;
  line-height: 50px;
  text-align: justify;
  color: white;
  font-family:Century Gothic, Arial;
  width: 50%;
  justify-content: center;
}
h1 {
  color: blue;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
